<div class="container pt-5">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="form-group">

        <div class="form-group">
            <label for="doctorName">Doctor Name</label>
            <input type="text" id="doctorName" class="form-control" formControlName="doctorName" />
            <span class="errors" *ngIf="!updateForm.get('doctorName').valid && updateForm.get('doctorName').touched">Enter a Valid Doctor Name</span>

        </div>

        <div class="form-group">
            <label for="department">Department</label>
            <input type="department" id="department" class="form-control" formControlName="department" />
            <span class="errors" *ngIf="!updateForm.get('department').valid && updateForm.get('department').touched">Enter a Valid Department</span>

        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="gender" id="gender" class="form-control" formControlName="gender" />
            <span class="errors" *ngIf="!updateForm.get('gender').valid && updateForm.get('gender').touched">Enter a Valid Gender</span>

        </div>

        <div class="form-group">
            <label for="phoneNo">Phone Number</label>
            <input type="phoneNo" id="phoneNo" class="form-control" formControlName="phoneNo" />
            <span class="errors" *ngIf="!updateForm.get('phoneNo').valid && updateForm.get('phoneNo').touched">Enter a Valid Phone Number</span>

        </div>
        <div>
        <button class="btn btn-success" [disabled]="!updateForm.valid">Register</button>
        </div>
    </form>
    </div>
</div>
</div>
