<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">  Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-end ml-3" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/registration">Register</a>
          </li>


      </ul>
     
    </div>
  </nav>

<h3 class="text-uppercase text-center">Hospitals Table</h3>
<div class="container pt-5">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th>Id</th>
            <th>Hospital Name</th>
            <th>Street Address</th>
            <th>Street Address2</th>
            <th>City</th>
            <th>Pincode</th>
            <th>Coontact Number</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hospital of hospitals">
                <td>{{hospital.id}}</td>
                <td>{{hospital.hospitalName}}</td>
                <td>{{hospital.streetAddress}}</td>
                <td>{{hospital.streetAddress2}}</td>
                <td>{{hospital.city}}</td>
                <td>{{hospital.pincode}}</td>
                <td>{{hospital.contactNo}}</td>
                <td>
                    <button class="btn btn-primary" (click) = "updateHospital(hospital)">Update</button> |
                    <button class="btn btn-danger" (click) = "deleteHospital(hospital)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="navbar navbar-extend-md  fixed-header float:right">
    <div class="container">
        <nav>
            <a routerLink="/add-hospital"><button class="btn btn-success">Add Hospital</button></a> 
            <a routerLink="/doctors"><button class="btn btn-secondary mx-2">Doctor's Table</button></a>
        </nav>
        <br>
    </div>
</div>
